@media (max-width: 860px) {
  #fma-scrlr-scroller {
    display: none !important;
  }
}
.flex-container {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  -webkit-align-items: center;
  align-items: center;
}
.flex-container-wrap {
  -webkit-flex-wrap: wrap !important;
  flex-wrap: wrap !important;
}
.flex-container-col {
  -webkit-flex-direction: column !important;
  flex-direction: column !important;
  -webkit-justify-content: center;
  justify-content: center;
}
.code-highlight {
  font-family: monospace;
}
.code-highlight.val {
  color: lightgreen;
}
.code-highlight.var {
  color: orange;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 300;
}
html {
  min-height: 100% !important;
  height: 100% !important;
}
body {
  min-height: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
  font-weight: 300;
  color: #4d4741;
}
@-webkit-keyframes bg-move {
  0% {
    background-position: 0px 0px;
  }
  25% {
    background-position: -1000px -1000px;
  }
  50% {
    background-position: -400px -1200px;
  }
  75% {
    background-position: -200px -500px;
  }
  100% {
    background-position: 0px 0px;
  }
}
@keyframes bg-move {
  0% {
    background-position: 0px 0px;
  }
  25% {
    background-position: -1000px -1000px;
  }
  50% {
    background-position: -400px -1200px;
  }
  75% {
    background-position: -200px -500px;
  }
  100% {
    background-position: 0px 0px;
  }
}
.huge-header {
  min-height: 600px;
  height: 100%;
  overflow: hidden;
  background: url("../assets/crazy-sm.jpg") repeat;
  background-size: 1280px;
  -webkit-animation: bg-move 100s infinite;
  animation: bg-move 100s infinite;
}
.huge-header .wrapper {
  position: relative;
  min-height: 600px;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  color: white;
  -webkit-justify-content: center;
  justify-content: center;
}
.huge-header .wrapper .references {
  position: absolute;
  top: 0;
  left: 0;
  margin: 2%;
}
.huge-header .wrapper .references a,
.huge-header .wrapper .references a:hover {
  color: white;
}
.huge-header .wrapper .decoration {
  margin: 0;
  width: 160px;
}
.huge-header .wrapper .decoration #logo {
  width: 100%;
}
.huge-header .wrapper .literal {
  margin: 0 30px 0 30px;
}
.huge-header .wrapper .literal h1 {
  margin: 0 0 5px 0;
}
.huge-header .wrapper .literal h4 {
  margin: 0 0 2px 0;
}
.fma-scrlr-scroller {
  min-height: 100%;
  height: 100%;
  overflow: visible;
  /* Clear floats of children */
}
.fma-scrlr-scroller .fma-scrlr-section {
  min-height: 600px;
  height: 100%;
  overflow: hidden;
}
.fma-scrlr-scroller .fma-scrlr-init.tell-story {
  -webkit-transition: background-color 0.6s ease-in-out, border 0.6s ease-in-out, color 0.6s ease-in-out;
  transition: background-color 0.6s ease-in-out, border 0.6s ease-in-out, color 0.6s ease-in-out;
  color: #ffffff;
  background-color: #ffffff;
}
.fma-scrlr-scroller .fma-scrlr-animate.tell-story {
  background-color: #da6d5e;
}
.fma-scrlr-scroller .fma-scrlr-init.willing {
  -webkit-transition: -webkit-transform 0.6s ease-in-out, opacity 0.6s ease-in-out;
  transition: transform 0.6s ease-in-out, opacity 0.6s ease-in-out;
  -webkit-transform: translateY(50px);
  transform: translateY(50px);
  opacity: 0;
}
.fma-scrlr-scroller .fma-scrlr-init.willing .decoration {
  -webkit-transition: -webkit-transform 0.6s ease-in-out 0.2s, opacity 0.6s ease-in-out 0.2s;
  transition: transform 0.6s ease-in-out 0.2s, opacity 0.6s ease-in-out 0.2s;
  -webkit-transform: translateX(-80px);
  transform: translateX(-80px);
  opacity: 0;
}
.fma-scrlr-scroller .fma-scrlr-animate.willing {
  -webkit-transform: translateY(0px);
  transform: translateY(0px);
  opacity: 1;
}
.fma-scrlr-scroller .fma-scrlr-animate.willing .decoration {
  -webkit-transform: translateX(0px);
  transform: translateX(0px);
  opacity: 1;
}
.fma-scrlr-scroller .fma-scrlr-init.interested-stuff .side {
  -webkit-transition: -webkit-transform 0.6s ease-in-out, opacity 0.6s ease-in-out;
  transition: transform 0.6s ease-in-out, opacity 0.6s ease-in-out;
  opacity: 0;
}
.fma-scrlr-scroller .fma-scrlr-init.interested-stuff .side-left {
  -webkit-transform: translateX(-80px);
  transform: translateX(-80px);
}
.fma-scrlr-scroller .fma-scrlr-init.interested-stuff .side-right {
  -webkit-transform: translateX(80px);
  transform: translateX(80px);
}
.fma-scrlr-scroller .fma-scrlr-animate.interested-stuff .side {
  opacity: 1;
}
.fma-scrlr-scroller .fma-scrlr-animate.interested-stuff .side-left {
  -webkit-transform: translateX(0px);
  transform: translateX(0px);
}
.fma-scrlr-scroller .fma-scrlr-animate.interested-stuff .side-right {
  -webkit-transform: translateX(0px);
  transform: translateX(0px);
}
.fma-scrlr-scroller .fma-scrlr-section:before,
.fma-scrlr-scroller .fma-scrlr-section:after {
  content: " ";
  display: table;
}
.fma-scrlr-scroller .fma-scrlr-section:after {
  clear: both;
}
.tell-story {
  min-height: 100%;
  height: 100%;
  overflow: hidden;
  text-align: center;
  border-bottom: solid 8px white;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-transition: background 0.4s ease-in-out, border 0.4s ease-in-out;
  transition: background 0.4s ease-in-out, border 0.4s ease-in-out;
}
.tell-story h1 {
  font-size: 6em;
}
.tell-story-active {
  background-color: #D3CCAB;
}
.tell-story-deactive {
  border-color: #D3CCAB;
}
.willing {
  padding: 0 15px;
  text-align: center;
  min-height: 100%;
}
.willing h1 {
  font-size: 4.5em;
}
.willing h3 {
  margin: 0;
}
.willing .interested-in {
  min-width: 400px;
  max-width: 1200px;
  width: 70%;
  margin: 0 auto;
}
.willing .interested-in .decoration {
  width: 100%;
  margin: 30px 0 0 0;
}
.interested-stuff {
  min-height: 100%;
  height: 100%;
  overflow: hidden;
}
.interested-stuff .wrapper {
  min-height: 100%;
  max-width: 1366px;
  width: 100%;
  padding: 30px 0;
  margin: auto;
  -webkit-justify-content: center;
  justify-content: center;
}
.interested-stuff .wrapper .side {
  margin: auto 60px;
}
.interested-stuff .wrapper .side img {
  display: block;
  width: 70%;
  margin: auto;
}
.interested-stuff .wrapper .side-left {
  text-align: right;
}
.interested-stuff .wrapper .side-right {
  text-align: left;
}
.interested-stuff .wrapper .side-literal {
  width: 60%;
}
.interested-stuff .wrapper .side-decoration {
  width: 40%;
}
.interested-stuff .wrapper .side-decoration.large {
  width: 60%;
}
.interested-stuff .wrapper .side-decoration.large img {
  width: 100%;
}
.interested-stuff .wrapper .side-literal.small {
  width: 40%;
}
.interested-stuff h3 {
  font-size: 3.1em;
}
.interested-stuff p {
  font-size: 24px;
}
